<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Đồ_án.Properties.Settings.Chi_Tiết_Khách_Hàng_Thanh_ToánConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Chi Tiết Khách Hàng Thanh Toán.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Đồ_án.Properties.Settings.ChiTietKHConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ChiTietKH.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>